
  
  .head-1 {
    color: #9d00ff;
    text-shadow: 0 0 10px #9d00ff;
    
  }
  
  .accordion-button {
    border: none;
    font-size: 18px;
    color: #fff;
  }
  
  .custom-accordion-button {
    background-color: #1a1a1a;
    color: #9d00ff;
    border: 1px solid #9d00ff;
    transition: transform 0.2s, background-color 0.2s;
  }
  
  .custom-accordion-button:hover {
    background-color: #4a0099;
    transform: scale(1.02);
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .accordion-body {
    background-color: #1a1a1a;
    color: #fff;
  }
  
  .accordion-item {
    border: 1px solid #9d00ff;
    margin-bottom: 10px;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
    }
  
    .accordion-button {
      font-size: 16px;
    }
  }
  
  @media (max-width: 576px) {
    h1 {
      font-size: 1.2rem;
    }
  
    .accordion-button {
      font-size: 14px;
      padding: 10px;
    }
  }

.Syllabus{
    margin-top: 100px;
    margin-left: 40px;
    margin-bottom:150px ;
    
}
@media (max-width: 480px) {
    .Syllabus{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-left: 0;
    }
  
}
@media (max-width: 576px) {
  .Syllabus{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

}
@media (max-width: 800px) {
  .Syllabus{
    width: 100%;
    display: flex;
    justify-content: center;
  }

}